# Ignore everything
*
*/**
**/.DS_Store
*/**/.DS_Store

# Allowlist
!dist
!images
!language-configuration.json
!LICENSE
!jars
!node_modules/@ibmstreams/spl-lsp
!package.json
!README.md
!syntaxes
!templates
!themes
