.button-container {
  flex-flow: row-reverse wrap;

  @include carbon--breakpoint-down(500px) {
    flex-flow: column wrap;
    align-content: flex-end;
  }

  .button-container__button {
    flex: 1;
  }
}
