.file-path-container-row {
  display: flex;
  flex-direction: row;
  padding-top: $layout-01;
}

.file-path-container-col {
  display: flex;
  flex-direction: column;
  padding-top: $layout-01;
}

.file-list {
  display: flex;
  flex-direction: column;
  padding-top: $spacing-02;
  padding-left: $layout-01;
  word-break: break-all;
  @include carbon--type-style('body-short-01');
}

.file-name {
  padding-left: $spacing-02;
  word-break: break-all;
  @include carbon--type-style('body-short-01');
}

.file-path-subtitle {
  @include carbon--type-style('body-short-01');
}
