.select-instance-container {
  padding-left: 0;
  padding-right: 0;
}

.details-container {
  padding-top: $layout-01;
  word-break: break-word;
}

.file-path {
  padding-top: $layout-01;
  padding-bottom: $layout-01;
}

.structured-list {
  margin-bottom: $layout-03;
}
