html, body, #root {
  height: 100%;
}

.app-container {
  background-color: $ui-background;
  color: $text-01;
  min-height: 100%;

  .app-container__header-container {
    background-color: $ui-01;
    padding: $layout-02 $layout-01;

    .header-container--flex {
      display: flex;
      align-items: center;
    }

    .header-container__header {
      @include carbon--type-style('productive-heading-03');
      word-break: break-all;
    }

    .header-container__info-button {
      margin-left: 0.5rem;
      padding: 5px;
      min-height: unset;
    }
  }

  .app-container__list {
    padding-left: $layout-01;
    word-break: break-all;
  }

  .app-container__main-container {
    padding: $layout-02 $layout-01;
  }
}

.bx--loading-overlay {
  background-color: $overlay-01;
}

.bx--text-area:disabled {
  background-color: $disabled-01;
  color: $disabled-02;
}
