<table class="custom-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Windows/Linux keyboard shortcut</th>
      <th>macOS keyboard shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Build</td>
      <td>
        <ul>
          <li>Builds SPL application(s) from source.</li>
          <li>
            Downloads the Streams application bundle(s) (<code>.sab</code>) to the project&#39;s
            <code>output</code> directory.
          </li>
          <li>Only available for <code>.spl</code> and <code>Makefile</code> files.</li>
          <li>Learn more <a href="{{ "/docs/building-running-applications/#building-and-submitting-a-spl-application" | relative_url }}">here</a>.</li>
        </ul>
      </td>
      <td>
        <code>Ctrl+Alt+B</code>
      </td>
      <td>
        <code>Command+Option+B</code>
      </td>
    </tr>
    <tr>
      <td>Build and Submit Job(s)</td>
      <td>
        <ul>
          <li>Builds SPL application(s) from source.</li>
          <li>Submits the Streams application bundle(s) (<code>.sab</code>) to a Streams instance.</li>
          <li>Only available for <code>.spl</code> and <code>Makefile</code> files.</li>
          <li>Learn more <a href="{{ "/docs/building-running-applications/#building-and-submitting-a-spl-application" | relative_url }}">here</a>.</li>
        </ul>
      </td>
      <td>
        <code>Ctrl+Alt+S</code>
      </td>
      <td>
        <code>Command+Option+S</code>
      </td>
    </tr>
    <tr>
      <td>Submit Job(s)</td>
      <td>
        <ul>
          <li>Submits the Streams application bundle(s) (<code>.sab</code>) to a Streams instance.</li>
          <li>Only available for <code>.sab</code> files.</li>
          <li>Learn more <a href="{{ "/docs/building-running-applications/#submitting-a-spl-application-bundle" | relative_url }}">here</a>.</li>
        </ul>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Build Edge Application Image</td>
      <td>
        <ul>
          <li>Builds a Docker image that can be deployed to edge systems.</li>
          <li>Requires an IBM Cloud Pak for Data deployment with edge application image builds enabled.</li>
          <li>Learn more <a href="{{ "/docs/building-edge-applications" | relative_url }}">here</a>.</li>
        </ul>
      </td>
      <td>
        <code>Ctrl+Alt+E</code>
      </td>
      <td>
        <code>Command+Option+E</code>
      </td>
    </tr>
    <tr>
      <td>Build Toolkit</td>
      <td>
        <ul>
          <li>Builds a toolkit that can be used in streaming applications.</li>
          <li>Requires IBM Streams 5.5 or greater.</li>
          <li>Learn more <a href="{{ "/docs/using-toolkits/#building-a-toolkit" | relative_url }}">here</a>.</li>
        </ul>
      </td>
      <td>
        <code>Ctrl+Alt+K</code>
      </td>
      <td>
        <code>Command+Option+K</code>
      </td>
    </tr>
    <tr>
      <td>Build C++ Primitive Operator</td>
      <td>
        <ul>
          <li>Builds a C++ primitive operator to generate a toolkit that can be used in streaming applications.</li>
          <li>Requires IBM Streams 5.5 or greater.</li>
          <li>Learn more <a href="{{ "/docs/developing-cpp-primitive-operators/#building-a-c-primitive-operator" | relative_url }}">here</a>.</li>
        </ul>
      </td>
      <td>
        <code>Ctrl+Alt+P</code>
      </td>
      <td>
        <code>Command+Option+P</code>
      </td>
    </tr>
    <tr>
      <td>Build Java Primitive Operator</td>
      <td>
        <ul>
          <li>Builds a Java primitive operator to generate a toolkit that can be used in streaming applications.</li>
          <li>Requires IBM Streams 5.5 or greater.</li>
          <li>Learn more <a href="{{ "/docs/developing-java-primitive-operators/#building-a-java-primitive-operator" | relative_url }}">here</a>.</li>
        </ul>
      </td>
      <td>
        <code>Ctrl+Alt+J</code>
      </td>
      <td>
        <code>Command+Option+J</code>
      </td>
    </tr>
  </tbody>
</table>
