<table class="custom-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Open IBM Streams Console</td>
      <td>
        <ul>
          <li>Opens the IBM Streams Console in a web browser.</li>
          <li>
            Only available when the version of the default Streams instance is:
            <em>IBM Cloud Pak for Data deployment</em> or <em>IBM Streams standalone deployment</em>.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Open IBM Streaming Analytics Console</td>
      <td>
        <ul>
          <li>Opens the IBM Streaming Analytics Console in a web browser.</li>
          <li>
            Only available when the version of the default Streams instance is:
            <em>IBM Streaming Analytics on IBM Cloud</em>.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Open IBM Cloud Pak for Data Dashboard</td>
      <td>
        <ul>
          <li>Opens the IBM Cloud Pak for Data Dashboard in a web browser.</li>
          <li>
            Only available when the version of the default Streams instance is:
            <em>IBM Cloud Pak for Data deployment</em>.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Open IBM Cloud Dashboard</td>
      <td>
        <ul>
          <li>Opens the IBM Cloud Dashboard in a web browser.</li>
          <li>
            Only available when the version of the default Streams instance is:
            <em>IBM Streaming Analytics on IBM Cloud</em>.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Show Job Graph</td>
      <td>
        <ul>
          <li>Shows the Streams job graph for monitoring jobs.</li>
          <li>
            Only available when the version of the default Streams instance is:
            <em>IBM Cloud Pak for Data deployment</em> or <em>IBM Streams standalone deployment</em>.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Set IBM Streams Toolkit Paths</td>
      <td>
        Updates the <a href="{{ "/docs/settings" | relative_url }}"><strong>Toolkit Paths</strong></a> setting.
      </td>
    </tr>
    <tr>
      <td>List Available IBM Streams Toolkits</td>
      <td>
        Displays the build service toolkits and local toolkits specified in the
        <a href="{{ "/docs/settings" | relative_url }}"><strong>Toolkit Paths</strong></a> setting.
      </td>
    </tr>
    <tr>
      <td>Refresh IBM Streams Toolkits</td>
      <td>
        Fetches the build service toolkits and picks up changes to the
        <a href="{{ "/docs/settings" | relative_url }}"><strong>Toolkit Paths</strong></a> setting.
      </td>
    </tr>
    <tr>
      <td>Add Toolkit to Streams Build Service</td>
      <td>
        <ul>
          <li>Adds a toolkit to the Streams build service that can be used in streaming applications.</li>
          <li>
            Only available when the version of the default Streams instance is:
            <em>IBM Cloud Pak for Data deployment</em> or <em>IBM Streams standalone deployment</em>.
          </li>
          <li>Learn more <a href="{{ "/docs/using-toolkits/#adding-a-toolkit-to-the-streams-build-service" | relative_url }}">here</a>.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Remove Toolkits from Streams Build Service</td>
      <td>
        <ul>
          <li>Removes one or more toolkits from the Streams build service.</li>
          <li>
            Only available when the version of the default Streams instance is:
            <em>IBM Cloud Pak for Data deployment</em> or <em>IBM Streams standalone deployment</em>.
          </li>
          <li>Learn more <a href="{{ "/docs/using-toolkits/#removing-a-toolkit-from-the-streams-build-service" | relative_url }}">here</a>.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
