.submit-params-container__composite-section:not(:first-of-type) {
  padding-top: $layout-02;
}

.submit-params-container__composite-title {
  @include carbon--type-style('productive-heading-01');
  padding-bottom: $layout-01;
}

.submit-params-container__parameter-input:not(:last-of-type) {
  padding-bottom: $layout-01;
}

.submit-params-container__body {
  @include carbon--type-style('body-long-01');
}
