.submit-job-container {
  .submit-job-container__import-jco {
    padding-bottom: $layout-02;

    .submit-job-container__import-jco__button-container {
      display: flex;
      align-items: center;

      .submit-job-container__import-jco__button-container__button {
        width: 100%;
      }
    }

    .submit-job-container__import-jco__file-uploader-item {
      padding-top: $spacing-03;

      .bx--file__state-container svg {
        cursor: unset;
      }

      .bx--file-complete:focus {
        outline: none;
      }

      .submit-job-container__import-jco__file-uploader-item__link {
        @include carbon--type-style('helper-text-01');
      }
    }
  }

  .submit-job-container__accordion {
    padding-bottom: $layout-03;

    .submit-job-container__accordion-item .bx--accordion__title {
      @include carbon--type-style('productive-heading-02');
    }
  }

  .submit-job-container__button-container {
    flex-flow: row-reverse wrap;
    justify-content: flex-end;

    @include carbon--breakpoint-down(700px) {
      flex-flow: column wrap;

      .submit-job-container__button-container__button {
        max-width: 19rem;
      }
    }

    .submit-job-container__button-container__button {
      flex: 1;
    }

    .submit-job-container__button-container__button-export {
      max-width: 19rem;
    }
  }
}
