.submit-params-container__composite-section:first-of-type {
  padding-bottom: $layout-02;

  .submit-params-container__composite-title {
    padding-top: $spacing-03;
  }
}

.submit-params-container__composite-title {
  @include carbon--type-style('productive-heading-01');
  padding-bottom: $layout-01;
}

.submit-params-container__parameter-input:not(:last-of-type) {
  padding-bottom: $layout-01;
}

.submit-params-container__body {
  @include carbon--type-style('body-long-01');
}
