.job-graph-container {
  display: flex;
  height: 100%;

  .job-graph-container__loading-icon {
    text-align: center;
  }
  
  .job-graph-container__empty-canvas-message {
    @include carbon--type-style('productive-heading-03');
    text-align: center;
  }
  
  .job-graph-container__job-action-canvas-message {
    @include carbon--type-style('productive-heading-03');
    text-align: center;
    padding-top: $layout-02;
  }
}
