@import '~carbon-components/scss/components/tooltip/tooltip';

.title-header {
  @import '~carbon-components/scss/components/dropdown/dropdown';
  @import '~carbon-components/scss/components/list/list';
  @import '~carbon-components/scss/components/list-box/list-box';
  @import '~carbon-components/scss/components/loading/loading';

  background-color: $ui-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #dfe3e6;
  padding: 0 $layout-03;

  .title-header__text {
    @include carbon--type-style('body-short-01');
  }

  .title-header__left,
  .title-header__right {
    display: flex;
    align-items: center;
    height: $spacing-09;
  }

  .title-header__left {
    .title-header__job-dropdown-notification {
      margin: 0;
      min-height: $spacing-08;
      height: $spacing-08;
      
      .bx--inline-notification__icon {
        margin-top: 0.6rem;
      }

      .bx--inline-notification__text-wrapper {
        padding: $spacing-03 0;
      }
    }

    .title-header__job-dropdown {
      width: 350px;
    }

    .title-header__job-dropdown.bx--list-box--expanded .bx--list-box__menu {
      max-height: $spacing-08	* 10; // 10 items
    }

    .title-header__icon-button {
      padding-left: $spacing-03;
      padding-right: $spacing-03;

      &:before {
        display: none;
      }

      .bx--assistive-text {
        display: none;
      }
    }

    .title-header__status-icon {
      height: 16px;
      width: 16px;
    }

    .title-header__status-icon-red {
      fill: $support-01;
    }

    .title-header__status-icon-yellow {
      fill: $support-03;
    }

    .title-header__status-icon-faded {
      fill: $icon-02;
    }

    .bx--tooltip__label {
      margin-bottom: 0;
    }
  }
}

.bx--tooltip.title-header__job-info-tooltip {
  max-width: 800px !important;
  
  .bx--tooltip__caret {
    background: none;
    transform: none;
  }
}
